.photoConainer {

}

.photoHeader {

}

.albums {
}

.photos {

}

.contentPhotos {
    padding-top: 10px;
    display: flex;
    flex-flow: row wrap;
}

.photoSearchBox {
    width: 250px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#cccccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.albumItem {
    text-decoration: none;
    color: black;
    cursor: pointer
}

.albumItem:hover {
    text-decoration: none;
    color: black
}

.albumItem > div {
    width: 200px;
    margin: 10px;
    height: 150px;
    background-color: whitesmoke;
}

.albumItem > div.active {
    border: solid black 1px
}

.albumItem > div > span {
    padding-left: 5px
}

.albumItem > div div.options {
    float: right;
    margin-top: 80px;
    margin-right: 5px;
}

.albumItem > div.active div.options {
     margin-top: 60px;
     margin-right: 5px;
 }

.albumItem > div.active div.options ul > li > a.delete {
    color: red
}

.albumItem > div h2 {
    text-align: center;
    font-size: 25px
}

.albumItem div > span {
    font-size: 18px
}

.btn-add-album {
    margin-top: 10px;
    margin-left: 10px
}

.imageItem {
    margin: 5px
}

.imageItem a {
    text-decoration: none
}

.imageItem a:hover {
    text-decoration: none
}

.checkItem {
    -ms-transform: translate(10px, -200px);
    -webkit-transform: translate(10px, -200px);
    transform: translate(10px, -200px);
    cursor: default
}

.carousel-inner > .item > img {
    margin: 0 auto
}

.carousel-indicators .active{
    background-color: black;
}

.carousel-indicators li {
    border-color: black;
}