@{
    ViewBag.Title = "Photos";
    Layout = "~/Views/Gallery.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/app/css/photosStyle.css"/>

<div ng-controller="photoController">
    <div class="photoHeader">
        <div>
            Pozele tale {{selectedAlbum ? '> ' + selectedAlbum.name : ''}}
        </div>
        <div class="photoSearchBox pull-right">
            <div class="input-group stylish-input-group pull-right">
                <input type="text" class="form-control" placeholder="Search" ng-model="searchName">
                <span class="input-group-addon">
                    <button ng-click="search()">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="photoConainer row">
        <div class="photos col-md-10 container">
            <div class="row">
                <button class="btn btn-success" ng-disabled="checkedImages().length <= 0" ng-click="showOptions()">Optiuni</button>
                <button class="btn btn-success" ng-disabled="!selectedAlbum" ng-click="download()">Descarca</button>
                <button class="btn btn-success" ng-disabled="!selectedAlbum" ng-click="addPhotos()">Adauga</button>
            </div>
            <div class="contentPhotos row" ng-show="selectedAlbum && selectedAlbum.photos">
                <div ng-repeat="photo in selectedAlbum.photos">
                    
                </div>
            </div>
        </div>
        <div class="albums col-md-2">
            <button class="btn btn-success btn-add-album" ng-click="addAlbum()">Add</button>
            <a ng-repeat="album in albums" ng-show="albums" class="albumItem">
                <div ng-click="selectAlbum(album)" ng-class="{active: album.selected}">
                    <h2>{{album.name}}</h2>
                    <span>{{album.photos.length}} poze</span>
                </div>
            </a>
        </div>
    </div>
</div>