<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bower_components/bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet"/>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/bower_components/angular-ui/build/angular-ui.min.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="~/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="~/app/app.js"></script>
</head>
<body ng-app="galleryApp">
<div class="page-header">
    <h1>
        <a href="/" class="btn" style="font: 100 35px arial, sans-serif; margin-left: 25px">Gallery</a>
    </h1>
</div>
<div class="container">
    <div class="row">

    </div>
    <div class="row">
        @RenderBody()
    </div>
</div>
</body>
</html>
